* {
  padding: 0;
  margin: 0;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 400px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.boxGreen {
  height: 400px;
  width: 400px;
  background-color: green;
}

.boxYellow {
  height: 400px;
  width: 400px;
  background-color: yellow;
}

.boxRed {
  height: 400px;
  width: 800px;
  background-color: red;
}
