* {
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px;
}

.logo {
  grid-column: 1 / 3; 
  background-color: yellow;
  /* order: 1; */
}

.navbar {
  grid-column: 3 / 9; 
  background-color: blue;
  /* order: 2; */
}

.content {
  grid-column: 1 / -1; 
  background-color: green;
  /* order: 3; */
}
